[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pysam = "*"
rich = "*"
biopython = "*"
tabulate = "*"
zstandard = "*"
pyzstd = "*"
psutil = "*"
rich-cli = "*"
cutadapt = "*"
argpar = "*"
argparse = "*"

[dev-packages]
pylint = "*"
jupyter = "*"
notebook = "*"

[requires]
python_version = "3.11"
